html,body{
    height: 100%;
    width: 100%;
    background-image: url("../images/ep_naturalwhite.png");
    background-size: auto;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   
}
.container{
    
  width:100%;
  height: 100%;
  position: relative;
  font-family:'Georgia', Times, 'Times New Roman', serif;
  margin: 0%;
  
  
}
header{
    width: 100%;
    height: 13%;
    position: relative;
    background-color: white;
    border-bottom: 1.5px solid #cccccc;
    top: 0px;
    margin-top: -7px;
}
.menu-container{
    
    width: 960px;
   
    height: 100%;
    position: relative;
    left: 15%;
    
}
.myname,.menu{
    position: relative;
    height: 100%;
}
.myname{
    
    width: 23%;
    float: left;
    left: 0%;
    color:white;
    background-color: #4aaaa5;
    font-size: 19px;
    
    font-weight: bold;
    padding: 0px 7px 0px 7px;
}
.menu{
   
    width: 35%;
    float: right;
    right: 0%;
    padding-right: 0px;
    
}
ul.menu-list{
    position: absolute;
    text-align:bottom;
    color: #777777
}
.body{
    clear: both;
    position: relative;
    width: 960px;
    height: 63%;
    top: 5%;
    left: 15%;
}
.body-contactme{
   
    clear: both;
    position: relative;
    width: 960px;
    height: 65%;
    top: 5%;
    left: 15%;
}
.contactme{
    background-color: white;
    position: relative;
    float: left;
    width: 600px;
    height: 92%;
    padding:15px 25px 15px 25px;
}

.image-holder{
    clear: both;
    position: relative;
    width: 960px;
    
    top: 5%;
    left: 15%;
    height:105%;
}
.aboutme,.media{
    background-color: white;
}
.aboutme{
    position: relative;
    float: left;
    width: 600px;
    height: 90%;
    padding:25px;
}
.image-section{
    background-color: white;
    position: relative;
    float: left;
    width: 600px;
    height: 107%;
    padding:15px 25px 15px 25px;
}
.media{
    width: 210px;
    float: right;
    height: 45%;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin-top: 3px;
    
}
.media-holder{
    background-color: white;
    width: 210px;
    float: right;
    height: 30%;
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin-top: 3px;
}
li{
    display: inline;
    list-style:none;
}
.horazontal-line
{ 
  border:1.5px solid #cccccc;
}
.my-image
{
  float: left; 
}
h1,h3{
    font-weight: bold;
    color: #4aaaa5;
}
h1{
    font-size: 25px;
}
h2{
    font-weight: bold;
    color: white;
}
h4{
   font-size: 25px; 
}
hr{
    border:0.5px solid #cccccc;
    text-align: center;
}

.media-list {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-left:0px; /** to override default ul property **/
    padding: 0px;
}
.image1{
  height: 210px;
  width: 270px;
  margin-right: 25px;
  margin-top: 25px
}
.image-and-name{
position: relative;
top: 0px;
display: inline-block;
}
.image-name{
    position: absolute;
    padding: 3px;
    background: #4aaaa5;
    bottom: 10px;
    text-align: center;
    color: white;
    width: 265px;
}
a.menu-link:link{
    text-decoration: none;
    color: #777777;
    font-size: 20px;
}
a.menu-link:visited{
    text-decoration: none;
    color: #7e7979;
    
}
a.menu-link:hover{
    text-decoration: none;
    color: #7e7979;
    font-size: 30px;
}
a.menu-link:active{
    text-decoration: none;
    color: #cccccc;
    font-size: 20px;
}
.img{
    width:60px;
    height:60px;
    margin-right:2%;
    margin-top: 5px;
}
a.media-link:hover{
     width: 61px;
     height: 61px;
}
input[type=text],  input[type=email]    {
    width: 100%;
    height: 30%;
    padding: 7px 0px;
}
textarea{
    border:0.5px solid  #cccccc;;

}
input[type=submit]{
    padding: 12px 35px;
    background-color:#4aaaa5; 
    color: white;
    font-size: 16px;
    margin-top: 10px;
}
label{
    color: #aaa2a2;
}
.input-holder{
    margin-top: 10px;

}
::placeholder{
  color: #cccccc;
}

footer.aboutme-footer,footer.contactme-footer{
    clear: both;
    background-color: #666666;
    position: relative;
    top: 11%;
    width: 100%;
    height: 12%;
    border-top: 7px solid #4aaaa5;
    text-align: center;
    color: white;
}
footer.contactme-footer{

    top: 9%;
}
input[type=submit]:hover { 
    background-color: #5bc9c3;
 }
 .hover-outline:hover {
    
 }
 .img:hover{
    opacity: 0.2;
 }